#header {
  text-align: center;
  margin: 10px 0 40px 0;
  color: rgb(211, 121, 41);
  font-size: 4em;
  font-weight: 100;
}
.home {
  background-color: rgb(211, 64, 19);
  width: 10vw;
  font-size: x-large;
  position: absolute;
  border-radius: 8px;
}

.home a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 10px 10px;
  display: block;
  text-align: center;
  border-radius: 8px;
  color: #e1ffcf;
  transition: 0.3s;
}

.home a:hover {
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.container {
  width: 100%;
  height: 68vh;
  display: flex;
}

.text-container {
  margin-top: 30px;
  height: 100%;
  width: 30%;
  font-size: x-large;
  font-weight: 800;
}

#input-field {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: large;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#input {
  width: 60%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.325);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 50px 0;
  width: 90%;
}

.custom-input {
  display: flex;
  gap: 10px;
  font-size: large;
  align-items: center;
  margin-top: 20px;
}

#output-field {
  position: absolute;
  bottom: 10px;
  left: 3vw;
  width: 28%;
  height: 30%;
}

#output-field div {
  position: relative;
  font-size: x-large;
  font-weight: 600;
}

#output-field > div,
.carousel img {
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

#output-field > .active,
.carousel img.active {
  opacity: 1;
  position: absolute;
}

#error-message {
  position: absolute;
  top: 60vh;
  left: 12%;
  color: red;
  font-size: 0.7em;
  margin-top: 10px;
  display: none;
}

input[type="text"] {
  width: 50%;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  outline: none;
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.319);
  color: aliceblue;
}

.button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background: #4caf50;
  color: white;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #45a049;
}

.img-container {
  position: absolute;
  left: 30%;
  background-color: black;
  height: 70vh;
  width: 68vw;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  z-index: 10;
  bottom: 7vh;
  left: 64%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.carousel-controls button {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: rgb(100, 28, 0);
  cursor: pointer;
}

.carousel-controls button.active {
  background-color: rgb(1, 180, 13);
}
