@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/*  Overall styling  */
html {
  scroll-behavior: smooth;
}

.section {
  color: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: xx-large;
  position: relative;
}

.img-bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.scroll-to-section {
  bottom: 0;
  height: 10vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.scroll-icon {
  z-index: 50;
  width: 40px;
  height: 40px;
  animation: bounce 2s infinite;
  cursor: pointer;
}
/*  Hero Section  */

.logo-wrapper {
  position: relative;
  display: inline-block;
  left: 5%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
}

#logo-front,
#logo-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo-front {
  width: 100px;
  z-index: 2;
}

#logo-back {
  width: 200px;
  animation: rotation 10s linear infinite;
  transform-origin: center center;
  z-index: 1;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.kanishk path,
.teotia path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.1;
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  animation: textAnimation 3s ease-in forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 70;
  }
  80% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}

.hero-section {
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  margin-top: 20px;
  height: 25%;
  z-index: 100;
  position: relative;
}

#subtitle {
  font-size: x-large;
  margin: 50px;
  text-align: end;
  text-shadow: 0px 0px 10px white;
}

.tag-container {
  margin-top: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.tag path {
  stroke: #fff;
  stroke-width: 1px;
}
.right {
  transform: scaleX(-1);
}

.skill-scroll {
  margin: 20px;
  display: grid;
  place-items: center;
  width: 100%;
  gap: 10px;
}

.scrollbox {
  overflow: hidden;
  height: 46px;
  position: relative;
  box-sizing: content-box;
}

.effect {
  transform: scale(0.8);
  color: rgba(180, 180, 180, 0.3);
}
.scrollbox span {
  position: relative;
  display: block;
  height: 100%;
  flex-direction: column;
  text-align: center;
  animation: scroll-vert 5s infinite;
  font-weight: 500;
  align-items: center;
}

@keyframes scroll-vert {
  0%,
  10% {
    transform: translateY(0);
  }
  20%,
  30% {
    transform: translateY(-100%);
  }
  40%,
  50% {
    transform: translateY(-200%);
  }
  60%,
  70% {
    transform: translateY(-300%);
  }
  80%,
  90% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(-500%);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(4px);
  }
}
/*  About Section  */

#about {
  position: relative;
  height: 100vh;
  color: white;
  text-align: center;
}

.hdr {
  color: #fff;
  font-size: 80px;
  text-shadow: 0px 2px 5px black;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.gray-texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  z-index: 0;
}

#profile {
  position: absolute;
  left: 0;
  bottom: -6vh;
  width: 390px;
  height: 520px;
  transform: translateY(100%) rotateY(180deg);
  z-index: 1;
}

.profile-border {
  position: absolute;
  width: 300px;
  bottom: 0;
  left: 7.5vw;
  transform: rotate(180deg);
}
.profile-border-two {
  position: absolute;
  width: 300px;
  bottom: 20vh;
  left: 1vw;
}

#about:target #profile {
  animation: slideStareBounce 8s ease-in forwards;
}

@keyframes slideStareBounce {
  0% {
    transform: translateY(100%) rotateY(180deg) rotate(-10deg);
    opacity: 0;
    z-index: 0;
  }
  30% {
    transform: translateY(40%) rotateY(180deg) rotate(-10deg);
    opacity: 1;
    z-index: 0;
  }
  70% {
    transform: translateY(40%) rotateY(180deg) rotate(-10deg);
    opacity: 1;
    z-index: 0;
  }
  100% {
    transform: translateY(-20%) rotateY(180deg);
    z-index: 0;
  }
}

.about-txt {
  position: relative;
  margin-left: 2vw;
  padding: 10px;
  padding-bottom: 200px;
  z-index: 2;
  font-size: 25px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-txt div {
  margin-top: 50px;
  max-width: 60%;
  text-align: justify;
}

.about-char,
.me-char {
  display: inline-block;
  transform: translateY(200px) scale(0);
}

#about:target .about-ch .about-char,
#about:target .me-ch .me-char {
  animation: bounceIn 0.8s ease-out forwards;
}

#about:target .about-ch .about-char:nth-child(1) {
  animation-delay: 0s;
}
#about:target .about-ch .about-char:nth-child(2) {
  animation-delay: 0.1s;
}
#about:target .about-ch .about-char:nth-child(3) {
  animation-delay: 0.2s;
}
#about:target .about-ch .about-char:nth-child(4) {
  animation-delay: 0.3s;
}
#about:target .about-ch .about-char:nth-child(5) {
  animation-delay: 0.4s;
}
#about:target .me-ch .me-char:nth-child(1) {
  animation-delay: 0.6s;
}
#about:target .me-ch .me-char:nth-child(2) {
  animation-delay: 0.7s;
}

@keyframes bounceIn {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  60% {
    transform: translateY(-20px);
    opacity: 1;
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.me-ch {
  padding-left: 30px;
}

.bottom {
  position: absolute;
  width: 100%;
  height: 10.5%;
  left: 0;
  bottom: 0;
  background: black;
}

.bounce {
  animation: sub-bounce 2s infinite;
  display: inline-block;
}
@keyframes sub-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1px);
  }
}

.glow {
  animation: glow 6s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 5px #fff;
  }
  50% {
    text-shadow: 0 0 25px #fff;
  }
}

/* Skills Section */

#skill-heading {
  position: relative;
  width: 200px;
  height: 50px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50% - 25px);
}

.skill-banner {
  width: 100%;
  height: 60vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.skill-banner .slider {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 20%;
  left: calc(50% - 50px);

  transform-style: preserve-3d;
  transform: perspective(1000px);

  animation: autoRun 30s linear infinite;
}

.skill-banner .slider:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateY(-360deg);
  }
}

.skill-banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position)) * (360 / var(--quantity)) * 1deg))
    translateZ(550px) rotateX(-10deg);
}

.skill-banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.skill-wrapper {
  margin-top: 50px;
  overflow: hidden;
  width: 100%;
  height: 20%;
  position: relative;
  white-space: nowrap;
}

.skill-list {
  display: inline-block;
  animation: infinite-scr 20s linear infinite;
}

.litem {
  display: inline-block;
  margin: 30px 80px 0 80px;
  font-size: 24px;
  cursor: default;
}

@keyframes infinite-scr {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.html {
  color: orange;
  border-radius: 10px;
  width: 80px;
  text-align: center;
}
.css {
  color: rgb(52, 113, 235);
  border-radius: 10px;
  width: 60px;
  text-align: center;
}
.js {
  color: #f0e16d;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}
.react {
  color: #61dafb;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}
.tailwind {
  color: #38bdf8;
  border-radius: 10px;
  width: 170px;
  text-align: center;
}
.python {
  color: #aaa20d;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}
.cpp {
  color: #49b0ff;
  border-radius: 10px;
  width: 70px;
  text-align: center;
}
.excel {
  color: #1ab25e;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}
.davinci {
  color: #ff3700;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
.blender {
  color: #ff8c00;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}
.oops {
  border-radius: 10px;
  width: 100px;
  text-align: center;
}
.litem:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px #fff;
  animation-play-state: paused;
}

/* PROJECT SECTION */

.header {
  position: relative;
  text-align: center;
  margin-top: 20px;
  z-index: 10;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Exactly 2 columns */
  height: 80vh;
  margin-top: 10px;
  align-items: center;
  justify-items: center;
  padding-inline-start: 200px;
  padding-inline-end: 200px;
  box-sizing: border-box;
}

.projects .project {
  height: 30vh;
  width: 30vw;
  border-radius: 20px;
  transition: filter 0.5s ease;
  box-shadow: 0 0 10px black;
  position: relative;
  filter: brightness(0.5);
  overflow: hidden;
}

.projects .project:hover {
  filter: brightness(1);
  transform: scale(1.05);
}

.projects .project::after {
  content: "";
  width: 100%;
  height: 80%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to top, black, transparent);
}

.projects .project .proj {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.projects .project .content {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 10;
  bottom: 0;
  z-index: 20;
}

.link-img {
  width: 90px;
  position: absolute;
  right: 50px;
  bottom: 0;
  display: flex;
  z-index: 100;
}
.link-img img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.link-img img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.project-title {
  margin: 20px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  left: 10;
  bottom: 10px;
  color: white;
  z-index: 10;
}

#vector-design-top {
  position: absolute;
  top: 0;
  left: 2%;
  width: 200px;
  opacity: 0.5;
  z-index: 0;
}

#vector-design-bot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  opacity: 0.5;
  z-index: 10;
}

/* RESUME--------------- */

.content {
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.pdf {
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
#pdf-link {
  display: inline-block;
  color: #61dafb;
  transition: color ease 0.3s, transform ease 0.3s;
}
#pdf-link:hover {
  color: red;
  transform: scale(110%);
}

#res-content {
  text-align: center;
  position: relative;
  margin-top: 18%;
  z-index: 10;
  width: 54%;
  margin-left: 2%;
  height: 90vh;
}

/* CONTACT SECTION -------------- */

#contact {
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(46, 0, 68) 100%);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.sky {
  perspective: 1000px;
  perspective-origin: 50% 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.star {
  position: absolute;
  top: -5px;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall 6s linear infinite, twinkle 2s ease-in-out infinite;
}
.star {
  left: var(--left, 50%);
  animation-delay: var(--delay, 0s);
}
@keyframes fall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(50px);
    opacity: 0;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.3;
  }
}

.contact-content {
  position: relative;
  z-index: 10;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 5vh;
}

#contact-me {
  margin-top: 10vh;
}

.contact-content div {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: x-large;
  margin-left: 100px;
}

.row {
  margin-top: 30px;
  width: 100%;
}

.row img {
  width: 60px;
}
#mail {
  width: 75px;
  margin-left: -7px;
}

#git {
  width: 72px;
}

.contact-content div a {
  color: white;
  text-decoration: none;
}
.contact-content div a:hover {
  text-decoration: underline;
}

/* FOOTER ---------------------- */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.823),
    rgba(0, 0, 0, 0.363)
  );
  z-index: 100;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 5%;
  list-style: none;
  position: inherit;
  bottom: 100px;
  width: 100%;
}

.footer-links a {
  text-decoration: none;
  color: gray;
  transition: color ease 0.3s;
}

.footer-links a:hover {
  color: white;
}

#copyright {
  width: 100%;
  display: flex;
  font-size: x-large;
  position: inherit;
  bottom: 10px;
  justify-content: space-evenly;
}

#copyright a {
  color: #4caf50;
}
